/* ENRD SCSS Variables */

$lblue		:#009193;  //#008488 wcag2 AA pass ok
$dblue		:darken($lblue,10%);
$hlblue		:lighten($lblue,5%);
$greenwarm	:#83B41C;
$lightBlue	:#E9F5F5;
$lblack		:#333333;
$lgrey      :#c8c8c8;